<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

		<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

		<link href="//fonts.googleapis.com/" rel="dns-prefetch">
        <link href="https://fonts.googleapis.com/css?family=Miriam+Libre&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/poole.css" />
		<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/hyde.css" />
		<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/syntax.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>

	<body class="theme-base-0d">
		{% include 'sidebar.html' %}
		<div class="content container">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
