<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">
            <h1>
                <a href="/">
                    <img class="profile-picture" src="{{ SITEURL }}/images/{{ PROFILE_IMAGE }}">
                    {{ SITENAME }}
                </a>
            </h1>
            <p class="lead">{{ BIO }}</p>
            <p></p>
        </div>
        <nav class="sidebar-nav">
            <a class="sidebar-nav-item" href="mailto:ashley@ropable.com">
                <i class="icon-mail-alt"></i>
            </a>
            <a class="sidebar-nav-item" href="https://stackoverflow.com/users/14508/ropable">
                <i class="icon-stackoverflow"></i>
            </a>
            <a class="sidebar-nav-item" href="https://github.com/ropable">
                <i class="icon-github-circled"></i>
            </a>
            <a class="sidebar-nav-item" href="https://www.facebook.com/ropable">
                <i class="icon-facebook-official"></i>
            </a>
            <a class="sidebar-nav-item" href="https://news.ycombinator.com/user?id=ropable">
                <i class="icon-y-combinator"></i>
            </a>
        </nav>
    </div>
</div>
